.container{
    background-color: white;
    width: 1170px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 13px 1px rgb(0 0 0 / 9%);
    
}

.image{
    height: 100%;
    width: auto;
    margin-left: 40px;
    padding: 10px;
}

.textContainer{
    text-align: center;
    padding: 40px;
    font-family: Lato, sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    
}

.band{
    font-size: 1.3rem;
}

.country{
    font-size: 1.2rem;
    margin-top: 15px;
    padding-bottom: 30px;
}

.history{
    font-size: 1rem;
    text-align: justify;
}